# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\_user\Alexander\_Uni\TU Wien\6. Semester\Abstrakte_Maschinen\UE\AMForth\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
